.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("src/assets/image/login.jpeg");
  background-size: 100% 100%;
}
.card {
  display: flex;
  flex-wrap: inherit;
  width: 500px;
  height: 700px;
  flex-direction: column;
  padding-inline: 20px;
  background: rgba(240, 240, 240, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  /* display: flex; */
}
.card .title {
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
}
.card .password {
  margin-top: 30px;
}
.card input {
  height: 40px;
  width: 98%;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-size: 16px;
  padding-left: 15px;
}
.card .checkbox > input {
  height: 20px;
  width: 20px;
  background: rgba(0, 0, 0, 0) !important;
}
.bnt-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.bnt-login button {
  height: 40px;
  width: 150px;
  background-color: #99ffcc;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
}
