:root {
  --color-bg: #32393f;
  --white: #fff;
  --layout-bd: 1px solid rgba(255, 255, 255, 0.1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sidebar {
  width: 250px;
  background: var(--color-bg);
  left: 0;
  height: 105vh;
  /* position: fixed; */
}

.sidebar .text .logo {
  background: var(--white);
  line-height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-right: 10px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 24px;
}
.sidebar .info,
.sidebar .text {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 60px;
  text-align: center;
  border-bottom: var(--layout-bd);
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  padding-inline: 20px;
}
.sidebar .info .img {
  height: 40px;
  width: 40px;
  background: url("src/assets/image/avatar.jpeg");
  background-size: 100% 100%;
  border-radius: 20px;
  margin-right: 10px;
}
.sidebar .search {
  line-height: 60px;
  width: 100%;

  padding-inline: 10px;
  /* position: relative; */
}
.sidebar .search input {
  height: 32px;
  width: 75%;
  background-color: #32373d;
  border: var(--layout-bd);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: var(--white);
  padding-left: 10px;
}
.sidebar .search input:focus-visible {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}
.sidebar .search input:focus {
  border: 1px solid #f1f1f1;
}
.sidebar .search button {
  height: 32px;
  width: 25%;
  background-color: #32373d;
  border: var(--layout-bd);
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: var(--white);
}
.sidebar .search button:hover {
  border: 1px solid #f1f1f1;
}
.sidebar ul {
  list-style: none;
  height: 100%;
  width: 100%;
  background: var(--color-bg);
}
nav ul li {
  line-height: 42px;
  margin-bottom: 2px;
  /* border-bottom: var(--layout-bd); */
}

nav ul li a {
  position: relative;
  color: var(--white);
  text-decoration: none;
  font-size: 16px;
  padding-left: 20px;
  display: block;
  border-left: 5px solid var(--color-bg);
  border-right: 5px solid var(--color-bg);
  border-radius: 15px;
}
/* nav ul li a:hover {
  color: #000;
  background: var(--white);
  border-left: 5px solid var(--color-bg);
  border-right: 5px solid var(--color-bg);
  border-radius: 15px;
} */
.active {
  color: #000;
  background: #037cff;
}
nav ul ul {
  position: static;
}
nav ul ul li {
  line-height: 42px;
  border-bottom: none;
}
nav ul ul li a {
  font-size: 17px;
  color: #e6e6e6;
}

nav ul li a .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  transition: transform 0.4s;
}

nav ul li a .sub_icon {
  margin-right: 15px;
}
nav ul li a:hover .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  /* transform: translateY(-50%) rotate(180deg); */
}
