.container {
  display: flex;
}
.sidebars {
  width: 250px;
  transition: all 1s;
  height: 100vh;
}
.left-menu-true {
  margin-left: -250px;
}
.left-menu-false {
  margin-left: 0;
}
.content {
  width: 100%;
}
.container .head {
  height: 60px;
  border-bottom: 1px solid green;
  width: 100%;
  display: flex;
  align-items: center;
  padding-inline: 20px;
}

.container .head .hear-left {
  width: 100%;
  font-size: 24px;

  display: flex;
}
.container .head .hear-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: 24px;
}

.container .head button {
  font-size: 24px;
  margin-right: 20px;
}
.container .head hr {
  width: 100%;
  height: 1px;
  margin-top: 15px;
  background: #000;
  border: 0;
}

@media (max-width: 500px) {
  .container .head {
    align-items: center;
    padding-inline: 20px;
  }
}

@media (max-width: 700px) {
  .container .head button {
    font-size: 18px;
    margin-right: 10px;
  }

  .left-menu-true {
    margin-left: 0;
  }
  .left-menu-false {
    margin-left: -250px;
  }
}
